*{
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color: #d3cecd;
    height: 90vh;
}
p{
    align-items: center;
    justify-content: space-around;
    font: 1em sans-serif;
    font-weight: 700;
    border: 1px black solid;
    height: 200px;
    width: 150px;
    background-color: rgb(206, 205, 213);
}